<h1 align='center' style="color:red;"><u>|| Ordinal Label Encoding Technique ||</h1>
<br><br>
<font color='#045FB4'>
    <h3>This technique is applicable on ordinal categorical data.</h3><br>
- Ordinal data is a categorical, statistical data type where the variables have natural, ordered categories and the distances between the categories is not known.

- For example :
    - We have a feature education with values SSC,HSC,Diploma,Batchlor,Master,PhD so we can easily rank this :
        - PhD person is hold a rank 1
        - Master = rank 2
        - Batchlor = rank 3
        - Diploma = rank 4
        - HSC = rank 5 
        - SSC = rank 6.
    - We have a feature experience with different values in years formalt. Here we rank base on how much year of experience person have. person with :
        - 10+ yr exp  = 1st rank,
        - 5 to 10 yr exp = 2nd rank
        - 0-5 ye exp = 3rd rank.

<h3 align='center' style="color:green;"> Here we create a dataset using datetime library and perform ordinal label encoding </h3>

<h3 style="color:#B4045F;">Import required libraries</h3><br>

In [54]:
import numpy as np
import pandas as pd
import datetime as dt

<h3 style="color:#B4045F;">Find today date and time using .now() function</h3><br>

In [55]:
today = dt.datetime.now()
today

datetime.datetime(2021, 1, 8, 22, 35, 28, 807132)

<h3 style="color:#B4045F;"> Create a list of last 20 days </h3><br>

In [56]:
data = []
for i in range(20):
    data.append(today-dt.timedelta(i))

In [57]:
data

[datetime.datetime(2021, 1, 8, 22, 35, 28, 807132),
 datetime.datetime(2021, 1, 7, 22, 35, 28, 807132),
 datetime.datetime(2021, 1, 6, 22, 35, 28, 807132),
 datetime.datetime(2021, 1, 5, 22, 35, 28, 807132),
 datetime.datetime(2021, 1, 4, 22, 35, 28, 807132),
 datetime.datetime(2021, 1, 3, 22, 35, 28, 807132),
 datetime.datetime(2021, 1, 2, 22, 35, 28, 807132),
 datetime.datetime(2021, 1, 1, 22, 35, 28, 807132),
 datetime.datetime(2020, 12, 31, 22, 35, 28, 807132),
 datetime.datetime(2020, 12, 30, 22, 35, 28, 807132),
 datetime.datetime(2020, 12, 29, 22, 35, 28, 807132),
 datetime.datetime(2020, 12, 28, 22, 35, 28, 807132),
 datetime.datetime(2020, 12, 27, 22, 35, 28, 807132),
 datetime.datetime(2020, 12, 26, 22, 35, 28, 807132),
 datetime.datetime(2020, 12, 25, 22, 35, 28, 807132),
 datetime.datetime(2020, 12, 24, 22, 35, 28, 807132),
 datetime.datetime(2020, 12, 23, 22, 35, 28, 807132),
 datetime.datetime(2020, 12, 22, 22, 35, 28, 807132),
 datetime.datetime(2020, 12, 21, 22, 35, 28, 807132),
 datetime.datetime(2020, 12, 20, 22, 35, 28, 807132)]

<h3 style="color:#B4045F;"> Create a Dataframe of data </h3><br>

In [58]:
data = pd.DataFrame(data,columns=['Days'])
data.head()

                        Days
0 2021-01-08 22:35:28.807132
1 2021-01-07 22:35:28.807132
2 2021-01-06 22:35:28.807132
3 2021-01-05 22:35:28.807132
4 2021-01-04 22:35:28.807132

<h3 style="color:#B4045F;">Create a 'Week Day' as a new feature

In [59]:
data['Week Day'] = data['Days'].dt.day_name()
data.head(7)

                        Days   Week Day
0 2021-01-08 22:35:28.807132     Friday
1 2021-01-07 22:35:28.807132   Thursday
2 2021-01-06 22:35:28.807132  Wednesday
3 2021-01-05 22:35:28.807132    Tuesday
4 2021-01-04 22:35:28.807132     Monday
5 2021-01-03 22:35:28.807132     Sunday
6 2021-01-02 22:35:28.807132   Saturday

<font color='#045FB4'>

- On 'Week Day' column/feature we perform ordinal label encoding, We assign a rank as below :
     - Sunday = 0 
     - Monday = 1
     - Tuesday = 2
     - Wednesday = 3
     - Thursday = 4
     - Friday = 5
     - Saturday = 6

In [60]:
week_day_dict = {
    'Sunday':0,
    'Monday':1,
    'Tuesday' : 2,
    'Wednesday' : 3,
    'Thursday' : 4,
    'Friday' : 5,
    'Saturday' :6
}

<h3 style="color:#B4045F;">
- Method 1
    
    - Ordinal Label Encoding using Replace function

In [61]:
data['WeekDay Rank Replace'] = data['Week Day'].replace(week_day_dict)

In [62]:
data.head()

                        Days   Week Day  WeekDay Rank Replace
0 2021-01-08 22:35:28.807132     Friday                     5
1 2021-01-07 22:35:28.807132   Thursday                     4
2 2021-01-06 22:35:28.807132  Wednesday                     3
3 2021-01-05 22:35:28.807132    Tuesday                     2
4 2021-01-04 22:35:28.807132     Monday                     1

<h3 style="color:#B4045F;">
- Method 2
    
    - Ordinal Label Encoding using Map function

In [63]:
data['WeekDay Rank Map'] = data['Week Day'].map(week_day_dict)

In [64]:
data.head(7)

,Days,Week Day,WeekDay Rank Replace,WeekDay Rank Map
0,2021-01-08 22:35:28.807132,Friday,5,5
1,2021-01-07 22:35:28.807132,Thursday,4,4
2,2021-01-06 22:35:28.807132,Wednesday,3,3
3,2021-01-05 22:35:28.807132,Tuesday,2,2
4,2021-01-04 22:35:28.807132,Monday,1,1
5,2021-01-03 22:35:28.807132,Sunday,0,0
6,2021-01-02 22:35:28.807132,Saturday,6,6

<font color='#045FB4'>
    Now you can take 'WeekDay Rank Replace' or 'WeekDay Rank Map' feature and and drop 'Week Day' feature

In [65]:
data.drop(['Week Day','WeekDay Rank Replace'],axis=1,inplace=True)
data

                         Days  WeekDay Rank Map
0  2021-01-08 22:35:28.807132                 5
1  2021-01-07 22:35:28.807132                 4
2  2021-01-06 22:35:28.807132                 3
3  2021-01-05 22:35:28.807132                 2
4  2021-01-04 22:35:28.807132                 1
5  2021-01-03 22:35:28.807132                 0
6  2021-01-02 22:35:28.807132                 6
7  2021-01-01 22:35:28.807132                 5
8  2020-12-31 22:35:28.807132                 4
9  2020-12-30 22:35:28.807132                 3
10 2020-12-29 22:35:28.807132                 2
11 2020-12-28 22:35:28.807132                 1
12 2020-12-27 22:35:28.807132                 0
13 2020-12-26 22:35:28.807132                 6
14 2020-12-25 22:35:28.807132                 5
15 2020-12-24 22:35:28.807132                 4
16 2020-12-23 22:35:28.807132                 3
17 2020-12-22 22:35:28.807132                 2
18 2020-12-21 22:35:28.807132                 1
19 2020-12-20 22:35:28.807132                 0

### Please let me know your feedback in comment section
#### Also, [take a look at my other notebooks](https://www.kaggle.com/rushikeshlavate/notebooks)
<h1 align='center' style="color:green;"><u>|| Thank you ! ðŸ˜€ðŸ˜€ ||</h1>