<h1 align='center' style="color:red;"><u>|| Target Guided Ordinal Encoding Technique ||</h1>
<br><br>
<font color='#045FB4'>
<h3>
    
- First find relation percent(%)of feature with respect to Target/Output feature
- After that order it in ascending order
- Now, we apply ordinal label encoding (we assign rank/number to each cabin)

<h3 style="color:#B4045F;">Import required Libraries <br>

In [47]:
import pandas as pd
import numpy as np

In [48]:
data = pd.read_csv('Titanic.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

<h3 style="color:#B4045F;">We perform Target guided ordinal encoding on Cabin feature with respect to Survived feature<br>

In [49]:
data = data[['Cabin','Survived']]
data.head()

  Cabin  Survived
0   NaN         0
1   C85         1
2   NaN         1
3  C123         1
4   NaN         0

<h3 style="color:#B4045F;"> Check null values<br>

In [50]:
data.isnull().sum()

Cabin       687
Survived      0
dtype: int64

In [51]:
data['Cabin'].fillna('Missing',inplace=True)
data.isnull().sum()

Cabin       0
Survived    0
dtype: int64

<h3 style="color:#B4045F;">
Now we fetch only cabin name and drop seat number 
</h3>
    <font color='blue'>
    
- Ex :
    - In C85 & C123 'C' is a cabin name and 85,123 is a seat number

In [52]:
data['Cabin'].head(10)

0    Missing
1        C85
2    Missing
3       C123
4    Missing
5    Missing
6        E46
7    Missing
8    Missing
9    Missing
Name: Cabin, dtype: object

In [53]:
data['Cabin'] =data['Cabin'].astype(str).str[0]
data.head(10)

  Cabin  Survived
0     M         0
1     C         1
2     M         1
3     C         1
4     M         0
5     M         0
6     E         0
7     M         0
8     M         1
9     M         1

<h3 style="color:#B4045F;"> Find Survived percent of each cabin <br>

In [54]:
cabin_labels = data.groupby(['Cabin'])['Survived'].mean().sort_values()
cabin_labels

Cabin
T    0.000000
M    0.299854
A    0.466667
G    0.500000
C    0.593220
F    0.615385
B    0.744681
E    0.750000
D    0.757576
Name: Survived, dtype: float64

<h3 style="color:#B4045F;"> Fetch Index of Cabin_labels<br>

In [55]:
cabin_Name = data.groupby(['Cabin'])['Survived'].mean().sort_values().index
cabin_Name

Index(['T', 'M', 'A', 'G', 'C', 'F', 'B', 'E', 'D'], dtype='object', name='Cabin')

<h3 style="color:#B4045F;">
    
Now we perform [Ordinal Encoding Technique](https://github.com/Rushi21-kesh/Feature-Engineering/blob/main/Handling%20Categorical%20Data/2.%20Ordinal%20Label%20Encoding%20Technique.ipynb) that means we assign rank/number to each cabin

In [56]:
ordinal_label = { name:rank for rank,name in enumerate(cabin_Name,0)}
ordinal_label

{'T': 0, 'M': 1, 'A': 2, 'G': 3, 'C': 4, 'F': 5, 'B': 6, 'E': 7, 'D': 8}

<h3 style="color:#B4045F;">At last, We replace or Map this rank with Cabin name <br>

In [58]:
data['Cabin_Label'] = data['Cabin'].map(ordinal_label)

In [59]:
data.head(15)

   Cabin  Survived  Cabin_Label
0      M         0            1
1      C         1            4
2      M         1            1
3      C         1            4
4      M         0            1
5      M         0            1
6      E         0            7
7      M         0            1
8      M         1            1
9      M         1            1
10     G         1            3
11     C         1            4
12     M         0            1
13     M         0            1
14     M         0            1

### Please let me know your feedback in comment section
#### Also, [take a look at my other notebooks](https://www.kaggle.com/rushikeshlavate/notebooks)
<h1 align='center' style="color:green;"><u>|| Thank you ! ðŸ˜€ðŸ˜€ ||</h1>