<h1 align='center' style="color:red;"><u>|| Probability Ratio Encoding ||</h1>
<br><br>
<font color='#045FB4'>
<h3>
   
- First find probability percentage :
    
    - Find mean of feature with respect to Target/Output feature
    - Then, substract relative mean from 1
    - Probability percentage = relative mean / (relative mean - 1 )

- Now, we replace category values with probability percentage

<h3 style="color:#B4045F;">Import required Libraries <br>

In [28]:
import pandas as pd
import numpy as np

In [29]:
data = pd.read_csv('Titanic.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

<font color='#05FB4'>
<h3> We are going to perform Probability Ration Encoding on Cabin feature in Titatic dataset with respect to survived feature
    </h3>
</font> 
 
<font colot='#05FB4'>
    
- 1. Find probability of survived based on Cabin feature (survived_probability)
- 2. Find probability of not survived based on Cabin feature (not_survived_probability)
    - not_survived_probability = (1-survived_probability)
- 3. Find probability ration using formula :
    - probability_ration = (survived_probability / not_survived_probability)
- 4. Replace categorical feature  with probability_ration

In [30]:
data = data[['Cabin','Survived']]
data.head()

  Cabin  Survived
0   NaN         0
1   C85         1
2   NaN         1
3  C123         1
4   NaN         0

<h3 style="color:#B4045F;"> Check null values<br>

In [31]:
data.isnull().sum()

Cabin       687
Survived      0
dtype: int64

In [32]:
data['Cabin'].fillna('Missing',inplace=True)
data.isnull().sum()

Cabin       0
Survived    0
dtype: int64

<h3 style="color:#B4045F;">
Now we fetch only cabin name and drop seat number 
</h3>
    <font color='blue'>
    
- Ex :
    - In C85 & C123 'C' is a cabin name and 85,123 is a seat number

In [33]:
data['Cabin'].head(10)

0    Missing
1        C85
2    Missing
3       C123
4    Missing
5    Missing
6        E46
7    Missing
8    Missing
9    Missing
Name: Cabin, dtype: object

In [34]:
data['Cabin'] =data['Cabin'].astype(str).str[0]
data.head(10)

  Cabin  Survived
0     M         0
1     C         1
2     M         1
3     C         1
4     M         0
5     M         0
6     E         0
7     M         0
8     M         1
9     M         1

<h3 style="color:#B4045F;"> Find survived probability of each cabin <br>

In [39]:
survived_probability = data.groupby(['Cabin'])['Survived'].mean().sort_values()
survived_probability

Cabin
T    0.000000
M    0.299854
A    0.466667
G    0.500000
C    0.593220
F    0.615385
B    0.744681
E    0.750000
D    0.757576
Name: Survived, dtype: float64

<h3 style="color:#B4045F;"> Find not survived_probability of each cabin</h3><br>

- not_survived_probability = (1 - survived_probability)

In [40]:
not_survived_probability = 1 - survived_probability
not_survived_probability

Cabin
T    1.000000
M    0.700146
A    0.533333
G    0.500000
C    0.406780
F    0.384615
B    0.255319
E    0.250000
D    0.242424
Name: Survived, dtype: float64

<h3 style="color:#B4045F;"> Find probability ration of each cabin</h3><br>


- probability_ration = survived_probability / not_survived_probability

In [43]:
probability_ratio = survived_percent / not_survived_probability
probability_ratio

Cabin
T    0.000000
M    0.428274
A    0.875000
G    1.000000
C    1.458333
F    1.600000
B    2.916667
E    3.000000
D    3.125000
Name: Survived, dtype: float64

<h3 style="color:#B4045F;"> Create a Dictionary of probability Ratin <br>

In [44]:
probability_ratio_dict = probability_percent.to_dict()
probability_ratio_dict

{'T': 0.0,
 'M': 0.42827442827442824,
 'A': 0.875,
 'G': 1.0,
 'C': 1.4583333333333333,
 'F': 1.6000000000000003,
 'B': 2.916666666666666,
 'E': 3.0,
 'D': 3.125}

<h3 style="color:#B4045F;">At last, We replace or Map this Cabin name with probability ratio <br>

In [45]:
data['Cabin_probability'] = data['Cabin'].map(probability_ratio_dict)

In [46]:
data.head(15)

   Cabin  Survived  Cabin_probability
0      M         0           0.428274
1      C         1           1.458333
2      M         1           0.428274
3      C         1           1.458333
4      M         0           0.428274
5      M         0           0.428274
6      E         0           3.000000
7      M         0           0.428274
8      M         1           0.428274
9      M         1           0.428274
10     G         1           1.000000
11     C         1           1.458333
12     M         0           0.428274
13     M         0           0.428274
14     M         0           0.428274

### Please let me know your feedback in comment section
#### Also, [take a look at my other notebooks](https://www.kaggle.com/rushikeshlavate/notebooks)
<h1 align='center' style="color:green;"><u>|| Thank you ! ðŸ˜€ðŸ˜€ ||</h1>